body {
    margin:0;
    padding:0;
    background-image: url("../images/dust_scratches/dust_scratches.png");
    background-color: #D3CDC4;
    

    
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin:0;
    padding:0;
    border: 1px solid;
    border-color: #cccccc;
    border-bottom-width: 2px;
    
}

h1{
    background-color:#4aaaa5;
    color:#ffffff;
    width: 250px;
    padding: 10px;
    margin-left:280px;
    text-align: center;
    font-size: 34px;
    

}

ul{
    position:absolute;
    right:280px;
    background-color: #ffffff;
    top:20px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display:inline;
    text-align:right;
    color:#777777;
    border-right: 2px solid #cccccc;
    font-weight: lighter;
    opacity: 0.8;
}

li:last-child {
    border-right: none;
}


li a{
    display: inline;
    color:#cccccc;
    padding: 4px 8px;
    text-decoration: none;
}

li a.active {
    background-color: #4AAAA5;
    color: #ffffff;
}

li a:hover:not(.active) {
    background-color: #cccccc;
    color: #ffffff;
}

.container {
    background-color: #ffffff;
    border-color:#dddddd;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 900px;
    margin: 25px 280px 25px 280px;
    padding: 30px;
    font: color #777777;
}    

p {
    line-height: 1.6;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
    font-size: 28px;
    margin: 0;    
    border-bottom: 1px solid;
    border-color: #dddddd;
    margin-bottom: 25px;
}

#bioImage {
    float:left;
    height:150px;
    width:150px;
    margin-right:15px;
    margin-bottom: 10px;
    
}

#mainBio {  
    margin: 0;
    padding: 0;
    
}

footer {
    border-top: 4px solid;
    border-top-color: #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    text-align: center;
    background-color:#E04A40;
    padding: 8px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=mssgText], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    padding-bottom: 20%;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #A3D39C;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formContainer {
    border-radius: 5px;
    border: 1px solid;
    border-color: #dddddd;
    background-color: #ffffff;
    width: 900px;
    padding: 30px;
    margin: 25px 280px 25px 280px;
}

#mainPortfolio {
    margin: 0;
    padding: 0;
}

.portfolioPics{
    position: relative;
    float:left;
    height:300px;
    width: 300px;
    margin: 20px;
    
    
}
.boxName {
    position: absolute;
    background-color: #4aaaa5;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left:20px;
    margin-top:260px;
    text-align:center;
    width:294px;
    padding: 3px;
}

.hangman {
    
    float:left;
    
}

.rpg {
    float:left;
    
    
}

.trivia {
    float:left;
}

.widget {
    float:left;
}

.rps {
    float:left;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.portfolioContainer {
    background-color: #ffffff;
    border-color:#dddddd;
    border: 2px solid;
    height:1100px;
    width: 900px;
    padding: 30px;
    margin: 25px 280px 25px 280px;
    font: color #777777;
}